header {
    color: black;
    font: 40pt;
}
body {
    background: linear-gradient(rgba(255, 136, 0), rgba(250, 100, 5), rgba(250, 60, 3));
}
p {
    color: black;
    box-sizing: border-box; 
    
}

#wrapper{
    width: 1000px;
    margin: 0 auto;
    
}

section {
    padding: 1px;
    box-sizing: border-box;
    margin: 10px;
}
.middle{
    width: 209px;
    float: left;
    
}
#col1 {
    
}
#col2{
    
}
